<ion-view view-title="Camera">
<ion-pane>
    <ion-header-bar class="bar-stable">
    </ion-header-bar>
    <ion-content ng-controller="CameraCtrl">
        <div class="list card">
            <div class="item item-image">
                <img ng-src="{{pictureUrl}}">
            </div>
        </div>
        <div class="padding">
            <button ng-click="takePicture()"
                    class="button button-block button-calm">TAKE PICTURE
            </button>
        </div>
    </ion-content>
        
</ion-pane>
</ion-view>