/* Empty. Add your own CSS if you like */

.branding {
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.splash {
    background-color: whitesmoke;

}





